@mixin wrapper($wr-width) {
    max-width: $wr-width;
    margin: 0 auto;
}

@mixin list-reset() {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin block-style($minw, $maxw, $minh, $maxh) {
    min-width: $minw;
    max-width: $maxw;
    min-height: $minh;
    max-height: $maxh;
    overflow: hidden;
}

@mixin font-style($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $base-lh;
}

.main__section-heading {
    @include font-style(30px, 700);
    @include block-style( min-content, 500px, min-content, 65px);
    padding: 10px;
}